<div class="wrapper" >
    
    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/gallery/common/picnic/picnic-2022.jpg'); filter:  opacity(50%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >Picnic</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Our Annual Picnic</h1>
            </div>
        </div>
        </div>
    </div>

    <section class="ftco-section">
      <div class="container">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Annual Picnic 2024</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <p class="col-md-12 flex-center">
                    Our annual picnic, where all our members were invite to a free picnic event for a great day of food, fun and friendship. !! <br/>
                </p>
                <p>
                     <a href="https://forms.gle/4oq6VcxGbN57BQMX7" >Please RSVP. This will help us plan better. </a>
                </p>
              </div>
              
          </div>
      </div>
    </section>      
    
    <section class="ftco-section bg-light ">
      <!-- <div class="container mb-5"> -->
          <div class="row col-md-12 flex-center text-center">
              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">Details</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <p><a href="https://www.google.com/maps/dir/38.8759552,-77.2243456/Shelter+8+at+Bull+Run,+7700+Bull+Run+Dr,+Centreville,+VA+20121/">
                    Shelter 8 at Bull Run<br />
                    7700 Bull Run Dr, <br /> Centreville, VA 20121</a><br /><br /> 
                Timings: <br /> 
                    June 29th -  10 am to 5 pm. <br>
                </p>
              </div>
          </div>
      <!-- </div> -->
    </section> 

    <!-- <section class="ftco-section mb-5"> -->
        <div class="container mb-5">
            <div class="row col-md-12 flex-center text-center">
                <div class="col-md-8  " style="margin: 0 auto;" >
                    <div class="flex-center text-center mt-3 ">
                        <h3 class="text-center">Bhuri Bhoj</h3>
                    </div>
                    
                    <p class="flex-center text-center" >
                        <b>Food to Buy throughout event:</b> Regular Phuchka(4 Pcs plate $2), Dahi Phuchka(4 Pcs plate $3), Paan($1), Ice Cream($2). <br/>
                    </p>
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Phuchka.jpg " >
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Paan.jpg " >
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Icecream.jpg " ><br/><br/>

                    <p class="flex-center text-center">
                        <b>Free Snacks to start the morning:</b> Corn grill , Chicken Grill, Beguni and many more. <br/>
                    </p>
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Corn_Grill.jpg " >
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Chicken_Grill.jpg " >
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Beguni.jpg " ><br/><br/>

                    <p class="flex-center text-center">
                        <b>Free Drink throughout event:</b> Aam Panna, Cold Drinks, Kids Juice. <br/>
                    </p>
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Aam_Panna.jpg " >
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Cold_Drinks.jpg " ><br/><br/>
                    
                    <p class="flex-center text-center">
                        <b>Free Lunch with mouthwarming dishes:</b> White Rice , Goat Meat/(Paneer for Veg) , Vegetable Lau-Daal , Mango Chutney, Sweet. <br/>
                    </p>
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/White_Rice.jpg " >
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Goat_Curry.jpg " >
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Lau_Daal.jpg " >
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Paneer_Curry.jpg " >
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Mango_Chutney.jpg " >
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/ChomChom_Sweet.jpg " ><br/><br/>
                    
                    <p class="flex-center text-center">
                        <b>Closing item with tradition:</b> Watermealon. <br/>
                    </p>
                    <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Watermealon.jpg " ><br/><br/>
                </div>    
            </div>
        </div>
    <!-- </section>             -->

    <section class="ftco-section bg-light ">
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-md-12 flex ftco-animate">
                    <div class="flex-center text-center mt-3 ">
                        <h3 class="text-center">Fun Activities(Kids & Adults)</h3>
                      </div>
                  <p class="flex-center text-center" >
                    <b>Kids Activity:</b> Marble Race, Tug of War and more. <br/>
                    <b>Adults Activity:</b> Tug of War, Short Cricket, Badminton. <br/>
                  </p>
                </div>    
            </div>
        <!-- </div> -->
    </section>            

</div>
