<div class="wrapper"  >

    <div style="z-index: 2000; position: absolute; top: 80px; left: 20px; cursor: pointer;"  >
      <i id="play-pause-button" class="icon" [ngClass]="playAudio?'icon-volume-up':'icon-volume-off' "  (click)="soundplay()" ></i>
    </div>

    <div style="width: 100vw; height: 60vh; " >
      <div style="width: 100%; height: 100%; "  class="cb-slideshow-overlay" >
          <ul class="cb-slideshow-2024">
              <li><span></span><div><h3></h3></div></li>
              <li><span></span><div><h3></h3></div></li>
              <li><span></span><div><h3></h3></div></li>
              <li><span></span><div><h3></h3></div></li>
              <li><span></span><div><h3></h3></div></li>
              <li><span></span><div><h3>SaaaS</h3></div></li>
          </ul>
      </div>
    </div>  
  
      <section class="ftco-section">
        <div class="container">
        <div class="row d-flex mb-3"> 
          <div class="flex-center text-center mt-3 ">
            <h2 class="text-center">Call for Cultural Participation</h2>
            <p class="text-center">
              To participate, please submit your entry via the form below  before Aug 29th, 2024<br/>
              <a class="btn-get-started btn-get-started-dark text-center w-100 " href="https://forms.gle/6hW2dNWSyxxgcV8a7" target="_blank" >Cultural Submission Form- Durgotsob 2024</a><br/>
              <b>Cultural Participation entries close on Aug 29th, 2024</b><br/>
            </p>
            <h4>Please read through and adhere to the following instructions before submission.</h4>
            <p>
              1. This year, our local cultural program will be conducted only on Saturday afternoon, Oct 12 inside the auditorium<br/>
              2. We are planning exciting pujo themed activities(eg: competition etc) for all ages to enjoy on Sunday afternoon, Oct 13. Stay tuned!<br/>
              3. Participation is restricted to group performances by those aged 16 and above. Solo performances will NOT be considered.<br/>
              4. Submission does not guarantee a performance slot until we have completed our evaluation. You will receive an email from the cultural team confirming your submission and allotted performance time.<br/>
              5. There are only four submission categories for group performance, as outlined in the submission form. Time allotments will be made based on the number of participants in your team and the quality of the previous performance video shared with the submission.<br/>
              6. Participants should submit a video of their prior onstage performance; preference will be given to those providing a video link.<br/>
              7. Each participant can take part in only one program and must be a registered NVBA member.<br/>
              8. We encourage participants to come fully prepared (dress, makeup, etc.) for the performance. Greenroom access will be very limited.<br/>
            </p>
          </div>
        </div>   
      </div>   
    </section>

    <section class="ftco-section">
        <div class="container">
        <div class="row d-flex mb-3"> 
            <div class="flex-center text-center mt-3 ">
              <h2 class="mb-4 ">Venue:  </h2>
                <div class="" >
                  <p>
                    <a href="https://maps.app.goo.gl/6idn5Y9pDNAufvr98" target="_blank" >
                      Freedom High School, 25450 Riding Center Dr, Chantilly, VA 20152<br />
                    </a> 
                  </p>
                  <h5>Timings:</h5>
                    <b>October 11th -  6 PM to 10 PM. <br>
                    October 12th and 13th - 10 AM to 10 PM.</b>
                </div>
            </div>
            <div class="col-md-6 flex ftco-animate ">
              <div class="flex-center">
                <a class="btn-get-started btn-get-started-dark text-center w-100 " href="https://mcusercontent.com/71b8b228056801a92f04f6000/files/50c67d59-e4b9-6ace-95a1-dbd71df1e8dc/2024_Durga_Pujo_Sponsorship_Flyer_with_Artists.pdf" target="_blank" >Be our proud sponsor - Durgotsob 2023</a>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section class="ftco-section">
        <div class="container">
        <div class="row d-flex mb-3"> 
            <div class="flex-center text-center mt-3 ">
              <h2 class="text-center">NVBA Durgotsob 2024 - Artists</h2>
              <p class="text-center">
                We are extremely thrilled to announce our international artists who will be illuminating the stage this Durgotsob. <br />
                We bring to you some of the biggest and most happening artists among today’s Bengali music lovers.
              </p>
            </div>
          </div>   
  
         <div class="col-md-12 row flex-row  mb-4" >

            <div class="flex-center text-center mt-3 ">
              <img src="./../../../assets/images/gallery/dp2024/NVBA_DP_2024_Artists_Promo_1.png" class=" img-fluid "  ><br/>
            </div>
          </div>
          </div>   
        </section>

        <section class="ftco-section">
          <div class="container">
          <div class="row d-flex mb-3"> 
              <h1 class="text-center">Delicious and Mouth Watering Food Information Comming Soon....... </h1>
            </div>   
          </div>   
        </section>
  
  </div>
  
  <app-sponsers></app-sponsers>
